{% extends 'reco/base.html' %}

{% block content %}
    <div class="side-menu">
        <ul>
            <li><a href="{% url 'reco:bank_accounts' pk=company.id %}">Bank Accounts</li>
            <li><a href="{% url 'reco:creditcard_accounts' pk=company.id %}">Credit Cards</li>
            <li><a href="{% url 'reco:mortgage_accounts' pk=company.id %}">Mortgage Accounts</li>
            <li><a href="{% url 'reco:loans_receivable' pk=company.id %}">Loans Receivable</li>
            <li><a href="{% url 'reco:loans_payable' pk=company.id %}">Loans Payable</li>
            <li><a href="{% url 'reco:accounts_receivable' pk=company.id %}">Accounts Receivable</li>
            <li><a href="{% url 'reco:accounts_payable' pk=company.id %}">Accounts Payable</li>
            <li><a href="{% url 'reco:staff_list' pk=company.id %}">Staff</li>
        </ul>
    </div>
        
        <h2>Accounts Receivable</h2>
        <p>Company: {{ company.name }}</p>
	
	<table style="width:75%">
            <tr>
                <th>Invoice Date</th>
                <th>Receivable From</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Payment Status</th>
            </tr>
            {% for ap in ap_list %}
                <tr>
                    <td>{{ ap.invoice_date }}</td>
                    <td>{{ ap.vendor }}</td>
                    <td>{{ ap.expense_category }}</td>
                    <td>${{ ap.bill_value }}</td>
                    <td>{{ ap.payment_status }}</td>
                </tr>
            {% endfor %}
        </table>    

    {% endblock %}
