{% load staticfiles %}
<html>
    <head>
        <title>co-TRAX</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reco.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1>coTRAX</h1>
        </div>

    	<div class="content">
            <h2>Add Transaction</h2>
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
	</div>
   </body>
</html>

