{% extends 'reco/base.html' %}

{% block content %}
    <div class="side-menu">
        <ul>
            <li><a href="http://google.com" </a>TAB 1</li>
            <li><a href="http://google.com" </a>TAB 2</li>
            <li><a href="http://google.com" </a>TAB 3</li>
            <li><a href="http://google.com" </a>TAB 4</li>
        </ul>
    </div>

        <div class="content-title">
            <p>Home View</p>
        </div>
        
        <h2>Content Heading</h2>
        {% for company in companies %}
        <p><a href="{% url 'reco:company_home' pk=company.id %}">{{ company.name }}</p>
        {% endfor %}
	
    {% endblock %}
